@mixin flexCenter {
  align-items: center;
  display: flex;
  justify-content: center;  
}

@mixin gameHeaderNav($color) {
  background-color: $color;
  border-radius: 20px;
  padding: 1.2vw 2.5vw;
  color: black;
  font-size: 6.25vw;
}

@mixin fontSizeWeight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}