@import 'partial';

.add-watchlist-hidden {
  pointer-events: none;
}

.add-watchlist-visible {
  
}

.watchlist-create {
  @include defaultButtonRemove;
  background-color: #ffffff;
}

.watchlist-name {
  @include defaultButtonRemove;
  background-color: #E0E0E0; 
}

.watchlist-carousel {
  display: flex;
}

.watchlist-carousel * {
  margin: 0 3vw;
}

.overlay-visible--addWatchlist {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.overlay-visible--addWatchlist * {
  font-family: roboto;
  font-weight: 100;
  font-size: 3vh;
}