.game-body {
  margin-top: 6vh;
}

.game-header {
  .game-header__container {
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    min-height: 10vh;
    margin-right: 3vw;
    margin-left: 3vw;
    position: relative;

    .game-header__container__title {
      font-size: 4vh;
      font-weight: 100;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    .game-header__container--next {
      position: absolute;
      right: 0;
      margin-right: 2vw;
      .MuiSvgIcon-root {
        cursor: pointer;
      }
    }

    .game-header__container--previous {
      position: absolute;
      left: 0;
      margin-left: 2vw;
      .MuiSvgIcon-root {
        cursor: pointer;
      }
    }

  }

  .game-header__nav {
    display:  flex;
    justify-content: space-around;
    margin-top: 2.5vh;
    div {
      padding: 1.2vw;
      cursor: pointer;
    }
  }

  .game-header__nav--year {
    .year {
      background-color: gray;
      border-radius: 5px;
      padding: 1.2vw;
    }
  }

  .game-header__nav--this-month {
    .this-month {
      background-color: gray;
      border-radius: 5px;
      padding: 1.2vw;
    }
  }

  .game-header__nav--next-month {
    .next-month {
      background-color: gray;
      border-radius: 5px;
      padding: 1.2vw;
    }
  }
}

.game-main {
  border: 1px solid black;
  margin: 3vw;
  .game-main__header {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    margin: 3vh 3vw 3vh 3vw;
    padding-bottom: 1.3vh;

    .game-main__header__rating {
      font-size: 5vh;
      font-weight: 100;
    }
    .game-main__header__count {
      font-size: 5vh;
      font-weight: 100;
      .MuiSvgIcon-root {
        margin-right: 3vw;
      }
    }
  }
}