@import 'partial';

.game-body {
  padding-top: 4.5vh;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.game-header {
  border-radius: 0 0 7px 7px;
  background-color: #5B65FA; 
  color: white;

  .game-header__container {
    @include flexCenter;
    border-bottom: 1px solid white;
    min-height: 10vh;
    margin: 0 3vw 0 3vw;
    position: relative;

    .game-header__container__title {
      @include fontSizeWeight(4vh, 100);
      margin: 0 10vw 0 10vw;
    }

    .game-header__container--next {
      position: absolute;
      right: 0;
      margin-right: 2vw;
      .MuiSvgIcon-root {
        cursor: pointer;
      }
    }

    .game-header__container--previous {
      position: absolute;
      left: 0;
      margin-left: 2vw;
      .MuiSvgIcon-root {
        cursor: pointer;
      }
    }

  }

  .game-header__nav {
    display: flex;
    justify-content: space-around;
    margin: 1.5vh 0 1.5vh 0;
    font-weight: 100;
    font-size: 3.5vh;
    div {
      padding: 1.2vw;
      cursor: pointer;
    }
  }

  .game-header__nav--year {
    .year {
      @include gameHeaderNav(white);
    }
  }

  .game-header__nav--this-month {
    .this-month {
      @include gameHeaderNav(white);
    }
  }

  .game-header__nav--next-month {
    .next-month {
      @include gameHeaderNav(white);
    }
  }
}

.game-main {
  border: 1px solid black;
  margin: 3vw;
  .game-main__header {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    margin: 3vh 3vw 3vh 3vw;
    padding-bottom: 1.3vh;

    .game-main__header__rating {
      @include fontSizeWeight(5vh, 100);
    }
    .game-main__header__count {
      @include fontSizeWeight(5vh, 100);
      
      .MuiSvgIcon-root {
        margin-right: 3vw;
      }
    }
  }
}