.game-navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  
  .game-navbar__logo {
    margin-left: 3vw;
  }
  .game-navbar__icons {
    margin-right: 3vw;
  }
}