.game-navbar {
  background-color: #5B65FA;
  display: flex;
  height: 4vh;
  justify-content: space-between;
  padding-top: 1vh;
  position: fixed;
  // top: 0;
  width: 100%;
  z-index: 3;
  
  .game-navbar__logo {
    color: white;
    opacity: .5;
    margin-left: 3vw;
  }
  .game-navbar__icons {
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
    width: 16vw;

    .MuiSvgIcon-root {
      cursor: pointer;
      color: white;
      opacity: .5;
    }
  }
}