@import 'partial';

@mixin marginBgColor($margin, $bgcolor) {
  margin: $margin;
  background-color: $bgcolor;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.piechart-container {
  display: flex;
  justify-content: center;
  min-height: 40vh;
  position: relative;

  .piechart-container__overlay {
    @include fontSizeWeight(4vh, 100);
    margin-top: 3vh;
    transform: translate(0vh, 1.5vh);
  }

  .piechart-container__piechart {
    min-height: 40vh;
  }
  .piechart-container__piechart--exceptional-selected {
    .arc0 {
      transform: scale(1.07);
    }
  }
  .piechart-container__piechart--recommended-selected {
    .arc1 {
      transform: scale(1.07);
    }
  }
  .piechart-container__piechart--skip-selected {
    .arc2 {
      transform: scale(1.07);
    }
  }
  .piechart-container__piechart--meh-selected {
    .arc3 {
      transform: scale(1.07);
    }
  }
}

.category-rating-container {
  display: flex;
  justify-content: space-evenly;
  
  .category-rating-container__exceptional {
    @include marginBgColor(3vw, #4daf4a);
  }
  .category-rating-container__exceptional:focus {
    transform: scale(1.25);
  }
  .category-rating-container__recommended {
    @include marginBgColor(3vw, #377eb8);
  }
  .category-rating-container__recommended:focus {
    transform: scale(1.25);
  }
  .category-rating-container__skip {
    @include marginBgColor(3vw, #cc0000);
  }
  .category-rating-container__skip:focus {
    transform: scale(1.25);
  }
  .category-rating-container__meh {
    @include marginBgColor(3vw, #ff7f00);
  }
  .category-rating-container__meh:focus {
    transform: scale(1.25);
  }
}